<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title><%= title %></title>
    <link rel="preload" href="/public/fonts/NotoSerifJP-Bold2.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/public/fonts/NotoSerifJP-Regular2.woff" as="font" type="font/woff" crossorigin>
    <script type="module" src="<%= module %>"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
